 <h3><i style="color: purple;">......Please Verify Details Of Product......</i></h3>
    <!-- <div><i>Product Id :- </i> {{productId}}</div> -->
    <div><i style="color: rgb(34, 128, 128);">Product Name :- </i><b style="color: brown;">{{productName}}</b></div>
    <div> <i style="color: rgb(34, 128, 128);">Price :- </i><b>{{price}}</b></div>

    <!-- <div> <i>Product Height :- </i>{{height}}</div> -->
    <div><i style="color: rgb(34, 128, 128);">Category :- </i> {{category}}</div>
    <!-- <div> <i>Discount :- </i>{{discount}}</div> -->
    <!-- <div><i>Bloom Season :-</i>{{bloomSeason}}</div>
    <div><i>About :- </i> {{about}}</div>
    <div> <i>Price :- </i>{{price}}</div> -->
    <!-- <div><i>Star Rating :- </i>{{starRating}}</div> --> 
    

    <br>
    <!-- <button value="{{productId}}" (click)="goForBuy(product.value)" #product> Buy Product </button><br> -->
     
    <button class="btn btn-success" value="Add Order1" (click)="addOrder()" #order> add order  </button>

