<table style="border:1px solid black;margin-left:auto;margin-right:auto;text-align: center;width: 50%; height: 50%;">

<b style="text-align: center;"> YOUR ORDER PLACED SUCCESSFULLY...........!</b><br>
<i class="order" style="color: rgb(119, 95, 183); text-align: center;">Your Order Details</i><br>

    <tr>
       <b style="color: green;">{{category}}</b>
    </tr>
    
       <!-- <tr><img src="/assets/images/{{imageName}}" alt="Product image" width="180px" height="180px"></tr> -->
       <tr><i>Product Name:- </i><b style="color: rgb(8, 45, 8);">{{productName}}</b></tr>
       <tr><i>Amount Paid:- </i><b>{{price}}</b></tr>
       <i>Delivered With in 6 days</i>

       <tr><button class="btn btn-info"value="Add Review" (click)="addReview()" #order> add review  </button></tr>
      
       </table><BR>
       <h1><b style="color:rebeccapurple ;text-align: center;">................THANK YOU !....... VISIT AGAIN...................</b></h1>
